body {
    background-color: #e72a7c;
}

.Contenedor {
    background-color: white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor1 {
    display: flex;
    justify-content: center;
}

.Titulo {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 32px;
    display: flex;
}

.Imagen1 {
    display: flex;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 300px;
}

.Imagen2 {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: 300px;
}

.Texto {
    margin-left: 27%;
    padding-right: 340px;
}

.nacimiento {
    margin-left: 27%;
    padding-right: 404px;
 }

.Texto1 {
    margin-left: 43%;
}

.Texto2 {
    margin-left: 43%;
}

.Texto3 {
    margin-left: 47%;
}

.Texto4 {
    margin-left: 46%;
}

.Texto5 {
    margin-left: 42%;
}

.Texto6 {
    margin-left: 42%;
}

.boton {
    margin-left: 45%;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
 }